@page "/rproductos"

<EditForm Model="producto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div className=".container-sm">

        <div class="card">

            <div class="card-header">
                <h3>Registro de Productos</h3>
            </div>

            <div class="card-body ">

                <div class="form-row align-items-center">
                    <div class="col">

                        <div class="form-group">

                            <label>Producto Id</label>

                            <div class="input-group row">

                                <InputNumber @bind-Value="producto.ProductoId" class="form-control col-4" />

                                <div class="input-group-append col">
                                    <button type="button" class="btn btn-success input-group-text"
                                        @onclick="Buscar">Buscar</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">

                    @* Descripción *@
                    <div class="form-group col">
                        <label>Descripción</label>
                        <InputText class="form-control" @bind-Value="producto.Descripcion" />
                        <ValidationMessage For="@(() => producto.Descripcion)" />
                    </div>



                </div>

                <div class="row">
                    @* Costo *@
                    <div class="form-group col">
                        <label>Costo</label>
                        <InputNumber class="form-control" @bind-Value="detalle.Costo" />
                        <ValidationMessage For="@(() => producto.Descripcion)" />
                    </div>

                    @* Precio *@
                    <div class="form-group col">
                        <label>Precio</label>
                        <InputNumber class="form-control" @bind-Value="detalle.Precio" />
                        <ValidationMessage For="@(() => producto.Descripcion)" />
                    </div>

                    @* Ganacia *@
                    <div class="form-group col">
                        <label>Ganacia</label>
                        <InputNumber class="form-control" @bind-Value="detalle.Ganancia" />
                        <ValidationMessage For="@(() => producto.Descripcion)" />
                    </div>

                </div>

            </div>

            <div class="card-footer">

                @* Botones *@
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                    <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
                </div>

            </div>

        </div>

        <br>

        <div class="card">

            <div class="card-header">
                <h3>Detalle</h3>
            </div>

            <div class="card-body">

                <form>
                    <div class="input-group d-flex align-items-end">

                        <button type="button" class="btn btn-success" @onclick="AgregarDetalle">
                            ➕ Agregar Detalle
                        </button>

                    </div>
                    <br>
                    <table class="table table-secondary">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>Id</th>
                                <th>Presentacion</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in producto.Detalle)
                            {
                                <tr>
                                    <td>@item.ProductoId</td>
                                    <td>@item.Descripcion</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Precio</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>

            </div>

            <div class="card-footer">

            </div>

        </div>

    </div>
</EditForm>


@code {
    public Productos producto { get; set; } = new Productos();
    public ProductosDetalle detalle { get; set; } = new ProductosDetalle();

    private void AgregarDetalle()
    {

    }
    private void Nuevo()
    {

    }

    private void Buscar()
    {

        if (producto.ProductoId > 0)
        {
            var encontrado = ProductosBLL.Buscar(producto.ProductoId);

            if (encontrado != null)
                this.producto = encontrado;
            //else mostrar un toast (de que no se encontró)


        }
    }

    public void Guardar()
    {
        CalculoValorInventario();
        var guardado = ProductosBLL.Guardar(producto);
    }

    public void Eliminar()
    {
        bool eliminado;

        eliminado = ProductosBLL.Eliminar(producto.ProductoId);
        if (eliminado)
        {
            //Llamar el metodo nuevo
            //Mostrar toast diciendo que terminó
        }
        else
        {
            //mostrar toast de que no fue posible eliminar
        }


    }

    private void CalculoValorInventario()
    {
    }

    private void CalcularGanancia()
    {
    }


}
